<div class="alert alert-danger" *ngIf="error">
  <p>{{ error }}</p>
</div>
<div class="col-lg-12">
  <form [formGroup]="weekForm" (ngSubmit)="addOrEditWeek()" autocomplete="off">
    <div class="form-group">
      <label>Numer </label><input formControlName="week_no" class="form-control" name="week_no" type="number">
      <label>Data rozpoczęcia</label>
      <input formControlName="start_date" type="date" class="form-control text-left" name="start_date"
             min="2022-09-19" max="2032-01-01">
      <label>Data zakończenia</label>
      <input formControlName="end_date" type="date" class="form-control text-left" name="end_date"
             min="2022-09-19" max="2032-01-01">
    </div>
    <button type="submit" class="btn btn-primary float-lg-right" [disabled]="!weekForm.valid">
      <i class="fas fa-save"></i> Zapisz
    </button>
  </form>
</div>
