<app-weeks-display
  [title]="'Zaplanuj tydzień'"
  (selectedWeekEvent)="onSelectWeek($event)"
></app-weeks-display>

<div class="card card-success" style="transition: all 0.15s ease 0s; height: inherit; width: inherit;">
  <div class="card-header">
    <h3 class="card-title">Zaplanowane podania</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" (click)="fetchRecords()">
        <i class="fas fa-sync-alt"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div *ngIf="isLoading" class="overlay dark">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="card-body">
    <p *ngIf="!selectedWeek">Wybierz tydzień</p>
    <app-record-display
      *ngIf="selectedWeek"
      [clickableView]="false"
      [records]="records"
      [contracts]="contracts | sortArray: 'contract_no'"
      [fruitVegProducts]="fruitVegProducts"
      [dairyProducts]="dairyProducts"
    ></app-record-display>
  </div>
  <div *ngIf="selectedWeek" class="card-footer">
      <button type="button" class="btn btn-outline-dark btn-lg btn-block btn-flat" (click)="summaryGeneration()">
        <i class="fas fa-table"></i>Generuj podsumowanie
      </button>
  </div>
</div>

<div class="card card-outline card-success">
  <div class="card-header">
    <h3 class="card-title">Zaplanuj produkty</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <p *ngIf="!selectedWeek">Wybierz tydzień</p>
    <router-outlet *ngIf="selectedWeek"></router-outlet>
  </div>
</div>

<div class="card card-outline card-warning collapsed-card">
  <div class="card-header">
    <h3 class="card-title">Wyczyść produkty</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div *ngIf="selectedWeek && bulkSkippedInfo" class="card-body">
    <b>Pominięte WZ:</b> {{bulkSkippedInfo}}
  </div>
  <div *ngIf="selectedWeek" class="card-footer">
      <button type="button" class="btn btn-outline-warning btn-lg btn-block btn-flat" (click)="bulkDeleteFruitVeg()">
        <i class="fas fa-trash"></i>Wyczyść warzywa-owoce
      </button>
      <button type="button" class="btn btn-outline-warning btn-lg btn-block btn-flat" (click)="bulkDeleteDiary()">
        <i class="fas fa-trash"></i>Wyczyść nabiał
      </button>
     <button type="button" class="btn btn-outline-warning btn-lg btn-block btn-flat" (click)="bulkDelete()">
        <i class="fas fa-trash"></i>Wyczyść wszystko
      </button>
  </div>
</div>
<app-sum-record-by-product
  [contracts]="contracts"
  [fruitVegProducts]="fruitVegProducts"
  [dairyProducts]="dairyProducts"
  [records]="records">
</app-sum-record-by-product>
