<div class="card-header text-muted border-bottom-0">
</div>
<div class="card-body pt-0">
  <div class="row">
    <div class="col-10">
      <h2 class="lead"><b>Produkty</b></h2>
      <table class="table">
        <thead>
        <tr>
          <th>Nazwa</th>
          <th>Ilość podań</th>
          <th>Waga</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let _product of productsFruitVeg.concat(productsDairy)" class="{{getColor(_product.id)}}">
          <td>{{ _product.product.name }}</td>
          <td>{{ _product.min_amount }}</td>
          <td>{{ _product.weight }} {{ _product.product.weight_type }}</td>
          <td><a class="btn btn-info btn-sm" (click)="onEditProduct(_product.id)">
            <i class="fas fa-pencil-alt"></i>Edycja
          </a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
