<p *ngIf="records.length === 0">Brak zaplanowanych WZ dla podanego tygodnia</p>
<div *ngIf="records.length !== 0" class="card">
  <div class="card-body p-0 text-sm-center">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="w-10">{{FRUIT_VEG_PRODUCT}}</th>
        <th *ngIf="!clickableView">#</th>
        <th *ngIf="!clickableView">##</th>
        <th class="w-20" *ngFor="let date of dates">{{date | dayName}}<br/>{{date | cutYearFromDate}}</th>
        <th class="w-10">{{DAIRY_PRODUCT}}</th>
        <th *ngIf="!clickableView">#</th>
        <th *ngIf="!clickableView">##</th>
        <th class="w-20" *ngFor="let date of dates">{{date | dayName}}<br/>{{date | cutYearFromDate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contract of contracts; let contract_index = index">
        <td>{{contract.school.nick}}</td>
        <td *ngIf="!clickableView" [ngStyle]="{'background-color': getPerWeekColor(fruitVegPerWeek(contract_index), min_fruit_veg_items),
                'opacity': 0.7}">
          {{ fruitVegPerWeek(contract_index) }}
        </td>
        <td *ngIf="!clickableView"
            [ngStyle]="{'background-color': getSummarisedColor(getSummarisedRecord(contract_index, FRUIT_VEG_PRODUCT) , max_fruit_veg_items),
                'opacity': 0.7}">
          {{ getSummarisedRecord(contract_index, FRUIT_VEG_PRODUCT) }}
        </td>
        <td *ngFor="let date of dates; let date_index = index">
          <button *ngIf="productFruitVegStorage[contract_index][date_index]"
                  [ngStyle]="{'background-color': getColorFruitVeg(contract_index, date_index)}"
                  [ngClass]="{active: isActiveFruitVeg(contract_index, date_index)}"
                  (mouseenter)="changeToHoverColor($event)"
                  (mouseleave)="changeToDefaultColorFruitVeg($event, contract_index, date_index)"
                  (click)="onFruitVegRecordSelect(contract_index, date_index)"
                  [disabled]="!clickableView" type="button"
                  class="btn btn-sm btn-outline-dark">{{productFruitVegStorage[contract_index][date_index]}}</button>
        </td>
        <td>{{contract.school.nick}}</td>
        <td *ngIf="!clickableView"
            [ngStyle]="{'background-color': getPerWeekColor(dairyPerWeek(contract_index), min_dairy_items), 'opacity': 0.7}">
          {{ dairyPerWeek(contract_index) }}
        </td>
        <td *ngIf="!clickableView" [ngStyle]="{'background-color': getSummarisedColor(getSummarisedRecord(contract_index, DAIRY_PRODUCT) , max_dairy_items),
                'opacity': 0.7}">
          {{ getSummarisedRecord(contract_index, DAIRY_PRODUCT) }}
        </td>
        <td *ngFor="let date of dates; let date_index = index">
          <button *ngIf="productDairyStorage[contract_index][date_index]"
                  [ngStyle]="{'background-color': getColorDairy(contract_index, date_index)}"
                  [ngClass]="{active: isActiveDairy(contract_index, date_index)}"
                  (mouseenter)="changeToHoverColor($event)"
                  (mouseleave)="changeToDefaultColorDiary($event, contract_index, date_index)"
                  (click)="onDairyRecordSelect(contract_index, date_index)"
                  [disabled]="!clickableView"
                  type="button"
                  class="btn btn-sm btn-outline-dark">{{productDairyStorage[contract_index][date_index]}}</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
