<div class="card">
  <div class="card-header">
    <h1 class="card-title">Lista WZ</h1>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <table datatable [dtOptions]="recordsDtOptions" class="row-border hover">
      <thead>
      <tr>
        <th>Data</th>
        <th>Szkoła</th>
        <th>Produkt</th>
        <th>Typ</th>
        <th>Ilość</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr class="cursor" *ngFor="let record of records;">
        <td>{{ record.date }}</td>
        <td>{{ get_school_name(record) }}</td>
        <td>{{ get_product_name(record) }}</td>
        <td>{{ get_product_type(record) }}</td>
        <td>{{ record.delivered_kids_no }}</td>
        <td *ngIf="isPlanned(record)">

          <!--          <a class="btn btn-info btn-sm" (click)="onEditRecord(record)">-->
          <!--            <i class="fas fa-pencil-alt"></i> </a>-->
          <a class="btn btn-danger btn-sm" (click)="onDeleteRecord(record.id)">
            <i class="fas fa-trash"></i></a>
        </td>
        <td *ngIf="isGenerated(record)">
          <a class="btn btn-success btn-sm" (click)="onConfirmDelivered(record)">
            <i class="fas fa-check"></i>
          </a>
        </td>
        <td *ngIf="isDelivered(record)">
<!--          TODO delete only in admin view-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <br/>
  <br/>
</div>
