<div class="card">
  <div class="card-header">
    <h1 class="card-title">Lista WZ</h1>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="contracts.length > 0 && product_storage.length > 0; else loading">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
      <tr>
        <th><i class="fas fa-check"></i></th>
        <th>Numer</th>
        <th>Data</th>
        <th>Szkoła</th>
        <th>Produkt</th>
        <th>Typ</th>
        <th>Ilość</th>
        <th><i class="fas fa-pencil-alt"></i></th>
        <th><i class="fas fa-trash"></i></th>
      </tr>
      </thead>
      <tbody>
      <tr class="cursor" *ngFor="let record of records;">
        <td *ngIf="isGenerated(record)">
          <a class="btn btn-success btn-sm" (click)="onConfirmDelivered(record)">
            <i class="fas fa-check"></i>
          </a>
        </td>
         <td *ngIf="isDeliveredPlanned(record) || isPlanned(record)" >
          <a class="btn btn-sm btn-success opacity-50" style="cursor: not-allowed">
            <i class="fas fa-check"></i>
          </a>
        </td>
        <td *ngIf="isAssignNumber(record)"><a class="btn-warning"><i class="fas fa-list"></i></a></td>
        <td *ngIf="isDelivered(record)"></td>
        <td>{{ record.no }}</td>
        <td>{{ record.date }}</td>
        <td>{{ get_school_name(record) }}</td>
        <td>{{ get_product_name(record) }}</td>
        <td>{{ get_product_type(record) }}</td>
        <td>{{ record.delivered_kids_no }}</td>
        <td *ngIf="!isDelivered(record)">
          <a class="btn btn-info btn-sm" (click)="onEditRecord(record)">
            <i class="fas fa-pencil-alt"></i> </a>
        </td>
        <td *ngIf="!isDelivered(record)">
          <a class="btn btn-danger btn-sm" (click)="onDeleteRecord(record)">
            <i class="fas fa-trash"></i></a>
        </td>
        <!--        Dummy columns for proper alignment-->
        <td *ngIf="isDelivered(record)"></td>
        <td *ngIf="isDelivered(record)"></td>

      </tr>
      </tbody>
    </table>
    </div>
    <ng-template #loading>
         <div class="spinner-container">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
    </ng-template>
  </div>
  <br/>
  <br/>
</div>
