<div class="card">
  <div class="overlay dark" *ngIf="isGenerating">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="card-header">
    <h1 class="card-title">Zaplanuj dostawy</h1>
  </div>
  <form [formGroup]="deliveryForm" (ngSubmit)="onSubmitDelivery()">
    <div class="card-body">
      <app-weeks-display
        [title]="'Tydzień'"
        (selectedWeekEvent)="onSelectWeek($event)"></app-weeks-display>
      <div class="form-group">
        <fieldset class="border p-2">
          <legend class="float-none w-auto">Rozpiska</legend>
          <div class="form-check form-check-inline ml-2">
            <input (change)="selectType($event)" class="form-check-input" type="radio" name="type" [value]="driver"
                   checked>
            <label class="form-check-label">Kierowca z WZ</label>
          </div>
          <div class="form-check form-check-inline ml-2">
            <input (change)="selectType($event)" class="form-check-input" type="radio" name="type" [value]="week">
            <label class="form-check-label">Tygodniowa</label>
          </div>
          <div *ngIf="isDriverCheck" class="form-group ml-2">
            <label>Kierowca</label><input formControlName="driver" class="form-control" name="driver">
          </div>
          <div class="form-group ml-2">
            <label>Data dostawy</label>
            <input formControlName="delivery_date" type="date" class="form-control text-left w-auto"
                   name="delivery_date"
                   min="2022-09-19" max="2032-01-01">
          </div>
        </fieldset>


        <br/>
        <div class="alert alert-danger" *ngIf="error">
          <p>{{ error }}</p>
        </div>
        <app-record-display
          *ngIf="selectedWeek"
          [records]="get_records()"
          [contracts]="contracts | sortArray: 'contract_no'"
          [fruitVegProducts]="fruitVegProducts"
          [dairyProducts]="dairyProducts"
          (selectedRecordsEvent)="onSelectRecords($event)"
        ></app-record-display>
        <label>Dodatkowy komentarz</label><textarea rows="3" cols="20" formControlName="comment" class="form-control"
                                                    name="comment"></textarea>
      </div>
      <div class="card-footer" style="display: block;">
        <button class="btn-lg btn-outline-info float-lg-right" type="submit" [disabled]="!deliveryForm.valid">Przygotuj
          dokumenty do dostawy
        </button>
      </div>
    </div>
  </form>
</div>
