<app-alert-simple *ngIf="displayWarning"
                  [messageHead]="'Musisz wybrać conajmniej jedną szkołę'"
                  [alertType]="'alert-warning'"></app-alert-simple>

<app-alert-simple *ngIf="failedRecords"
                  [messageHead]="'Błędy przy generowaniu dokumentów'"
                  [alertType]="'alert-warning'"
                  [messageBody]="error">
</app-alert-simple>
<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">WZ: {{date}}</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <dual-list [display]="unique_key" [source]="source" [(destination)]="confirmed"
                     [filter]="true" [format]="format" height="400px">
          </dual-list>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="btn-group-lg w-100">
      <button class="btn-lg btn-outline-secondary float-lg-start mr-1" routerLink="../..">Powrót</button>
      <button class="btn-lg btn-outline-info float-lg-end" (click)="selectProducts()">Przejdź do wyboru produktów
      </button>
    </div>
  </div>
</div>

