<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Podaj dane szkoły</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="schoolForm" (ngSubmit)="onSubmitSchool()">
        <div class="form-group">
          <label>Nick</label><input formControlName="nick" class="form-control" name="nick">
          <label>Nazwa</label><input formControlName="name" class="form-control" name="name">
          <label>Adres</label><input formControlName="address" class="form-control" name="address">
          <label>REGON</label><input formControlName="regon" class="form-control" name="regon">
          <label>NIP*</label><input formControlName="nip" class="form-control" name="nip">
          <label>Email</label><input formControlName="email" class="form-control" name="email">
          <label>Telefon</label><input formControlName="phone" class="form-control" name="phone">
          <label>Miasto</label><input formControlName="city" class="form-control" name="city">
          <label>Osoba reprezentująca</label><input formControlName="responsible_person" class="form-control" name="responsible_person">
          <label>Nazwa organu prowadzącego*</label><input formControlName="representative" class="form-control" name="representative">
          <label>NIP organu prowadzącego*</label><input formControlName="representative_nip" class="form-control" name="representative_nip">
          <label>REGON organu prowadzącego*</label><input formControlName="representative_regon" class="form-control"
                                                          name="representative_regon">
          <p class="help-block">*pola niewymagane w umowie</p>
        </div>
        <button type="submit" class="btn btn-primary float-lg-right" [disabled]="!schoolForm.valid">
          <i class="fas fa-check-circle"></i> Zatwierdź
        </button>
      </form>
    </div>
  </div>
