<!-- /.content-wrapper -->
<footer class="main-footer">
  <div *ngIf="isLoggedIn" class="float-right d-none d-sm-inline-block">
    <b>Zalogowany:</b> {{ loggedInPerson }}
    <button type="button" class="btn btn-default btn-sm" (click)="onLogout()">
      <i class="fas fa-sign-out-alt"></i>
    </button>
  </div>
  <div *ngIf="!isLoggedIn" class="float-right d-none d-sm-inline-block">
    <a routerLink="/logowanie"><b>Zaloguj się</b></a>
  </div>
  <div class="small">
    <p *ngIf="company"> {{ company.name }}, {{ company.address }} <br/>NIP: {{ company.nip }} REGON: {{ company.regon }}</p>
    <strong>Copyright &copy; 2022 rykosystem.</strong> Wszystkie prawa zastrzeżone.
  </div>
</footer>
