<div class="alert alert-danger" *ngIf="error">
  <p>{{ error }}</p>
</div>
<div class="card">
  <div class="card-header">
    <h1 class="card-title">Lista faktur</h1>
  </div>
  <div class="card-body">
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
      <thead>
      <th>Lp</th>
      <th>Nazwa</th>
      <th>Data</th>
      <th>Dostawca</th>
      <th></th>
      <th></th>
      <th>Produkt</th>
      <th>Ilość</th>
      <th>Ilość przypisana do tygodni</th>
      <th></th>
      </thead>
      <tbody>
      <ng-container *ngFor="let iwp of invoiceWithProducts; let i = index;">
        <ng-container *ngIf="iwp.products.length !== 0;">
          <tr>
            <td [attr.rowspan]="iwp.products.length">{{ i + 1 }}</td>
            <td [attr.rowspan]="iwp.products.length">{{ iwp.invoice.name }}</td>
            <td [attr.rowspan]="iwp.products.length">{{ iwp.invoice.date }}</td>
            <td [attr.rowspan]="iwp.products.length">{{ getSupplier(iwp.invoice.supplier_id) }}</td>
            <td [attr.rowspan]="iwp.products.length">
              <a class="btn btn-info" (click)="onEditInvoice(iwp.invoice.id)">
                <i class="fas fa-pencil-alt"></i>
              </a></td>
            <td [attr.rowspan]="iwp.products.length">
              <a class="btn btn-warning" (click)="onAddProduct(iwp.invoice.id)">
                <i class="fas fa-cart-plus"></i>
              </a></td>
            <td>{{ getProduct(iwp.products[0].product_store_id).name }}</td>
            <td>{{ iwp.products[0].amount }} {{getProduct(iwp.products[0].product_store_id).weight_type}}</td>
            <td><!--- Placeholder to fix for product->perwekk ---></td>
            <td>
              <a class="btn btn-outline-warning btn-sm" (click)="onEditInvoiceProduct(iwp.products[0].id)">
                <i class="fas fa-pencil-alt"></i>
              </a></td>
          </tr>
          <ng-container *ngFor="let ip of iwp.products; let i= index;">
            <tr *ngIf="i != 0;">
              <td>{{ getProduct(ip.product_store_id).name }}</td>
              <td>{{ ip.amount }} {{getProduct(ip.product_store_id).weight_type}}</td>
              <td><!--- Placeholder to fix for product->perwekk ---></td>
              <td>
                <a class="btn btn-outline-warning btn-sm" (click)="onEditInvoiceProduct(ip.id)">
                  <i class="fas fa-pencil-alt"></i>
                </a></td>
            </tr>
          </ng-container>
        </ng-container>
        <tr *ngIf="iwp.products.length === 0;">
          <td>{{ i + 1 }}</td>
          <td>{{ iwp.invoice.name }}</td>
          <td>{{ iwp.invoice.date }}</td>
          <td>{{ getSupplier(iwp.invoice.supplier_id) }}</td>
          <td>
            <a class="btn btn-info" (click)="onEditInvoice(iwp.invoice.id)">
              <i class="fas fa-pencil-alt"></i>
            </a></td>
          <td>
            <a class="btn btn-warning" (click)="onAddProduct(iwp.invoice.id)">
              <i class="fas fa-cart-plus"></i>
            </a></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
<div class="col-12">
  <a (click)="addInvoice()" class="btn-lg btn-info float-left cursor">
    <i class="fas fa-sign"></i> Dodaj fakture
  </a>
  <br/>
  <br/>
</div>
