<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label>Produkt</label>
           <select formControlName="product_store"
                    class="form-control custom-select" name="product_store" [(ngModel)]="product_stored">
              <option *ngIf="!this.edit" selected>Wybierz produkt</option>
              <option *ngFor="let product of product_storage;" [ngValue]="product">{{getProductString(product.product)}}</option>
            </select>
        </div>
        <div class="col-sm-3 form-group">
          <label for="amount">Ilość</label>
          <input type="number"
                 id="amount"
                 class="form-control"
                 formControlName="amount">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!productForm.valid">{{ isEditMode ? "Aktualizuj" : "Dodaj" }}</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Zresetuj</button>
        </div>
      </div>
    </form>
  </div>
</div>
